::-webkit-scrollbar {
    width: 0em;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0;
    display: flex;

    font-family: "Poppins", sans-serif, serif;

    /* Debugging */
    background-color: #e0d6c6;
    color: #3c3434;
}

.webpage-content {
    flex: 1 1 auto;
    /* background-color: #040509; */

    display: flex;
    flex-direction: column;
}

a {
    /* color: #eeefeb; */
    font-family: "Poppins", sans-serif, serif;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    margin: 4px;
}

a:visited {
    color: #3c3434;
}

.rounded {
    border-radius: 25px;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.header {
    width: 100vw;
}

.header ul {
    margin: 8px;
    padding: 8px;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.header li {
    width: 100px;
    text-align: center;
}

.store-banner {
    width: 100vw;
    height: 50vw;
}

.content {
    flex: 9 1 auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.products-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.products-section-title {
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.product-box {
    margin: 8px;
    max-width: 300px;
    background-color: #3c3434;
    color: #e0d6c6;
}

.product-box img {
    flex:  1 1 auto;
    border-radius: 25px 25px 0px 0px;
    width: 300px;
}

.product-description {
    margin: 8px;
    padding: 0;
    text-align: center;
}

.customer-reviews {
    background-color: #3c3434;
    color: #e0d6c6;
    margin: 0px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-review-content {
    padding: 0;
    margin: 16px;
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
}

.customer-review-title {
    text-align: center;
}

.reviewer {
    text-align: right;
}

.store-call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-emphasis {
    background-color: #3c3434;
    color: #e0d6c6;
    width: 80vw;
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.call-to-action-text {
    flex: 2 1 auto;
}

.storefront-button {
    background-color: #3c3434;
    border: 2px solid #e0d6c6;
    margin: 8px;
    flex: 1 0 auto;
}

.storefront-button a {
    color: #e0d6c6;
}

.footer {
    margin: 8px;
    padding: 16px;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.made-by-labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}

.made-by-labels p {
    margin: 0;
}

.creator-links {
    /* flex: 1 1 auto; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer .creator-link img {
    width: 32px;
}