body {
    height: 100vh;
    margin: 0px;
    padding: 0;
    display: flex;
    /* gap: 16px; */

    /* Debugging */
    background-color: bisque;
    /* color: white; */
}

.webpage-content {
    flex: 1 1 auto;
    background-color: aquamarine;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: brown;
}

.header ul {
    margin: 8px;
    padding: 8px;
    list-style: none;

    display: flex;
    justify-content: space-between;

    /* Debugging */
    background-color: green;
}

.store-banner {
    width: 100vw;
    height: auto;
}

.content {
    flex: 8 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    /* Debugging */
    background-color: yellow;
}

.products-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    /* Debugging */
    background-color: red;
}

.products-section-title {
    text-align: center;
}

.products {
    /* flex: 1 1 auto; */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    /* Debugging */
    background-color: blue;
}

.product-box {
    /* margin: 16px; */
    width: 300px;

    /* Debugging */
    background-color: greenyellow;
}

.customer-reviews {
    /* flex: 1 1 auto; */
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Debugging */
    background-color: purple;
}

.customer-reviews p {

}

.customer-review-content {
    padding: 0;
    /* margin: 16px; */
    
    display: flex;
    flex-direction: column;
}

.reviewer {
    text-align: right;
}



.store-call-to-action {
    /* margin: 16px; */
    
    flex: 1 1 auto;
    /* width: 100vw; */

    display: flex;
    justify-content: center;
    align-items: center;

    /* Debugging */
    background-color: blueviolet;
    border: 2px;
}

.call-to-action-emphasis {
    /* margin: 48px; */
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 16px;

    /* Debugging */
    background-color: coral;
}

.call-to-action-text {
    flex: 2 1 auto;
}

.storefront-button {
    flex: 1 1 auto;
}

.footer {
    margin: 8px;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Debugging */
    background-color: lightpink;
}