body {
    height: 100vh;
    margin: 0px;
    padding: 0;
    display: flex;
    /* gap: 16px; */

    /* Debugging */
    /* background-color: #040509; */
    color: #eeefeb;
}

.webpage-content {
    flex: 1 1 auto;
    background-color: #040509;

    display: flex;
    flex-direction: column;
}

.header {

}

.header ul {
    margin: 8px;
    padding: 8px;
    list-style: none;

    display: flex;
    justify-content: space-around;

    /* Debugging */
    /* background-color: green; */
}

.store-banner {
    width: 100vw;
    height: auto;
}

.content {
    flex: 8 1 auto;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 32px;

    /* Debugging */
    /* background-color: #727a66; */
}

.products-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    /* Debugging */
    /* background-color: #727a66; */
}

.products-section-title {
    text-align: center;
}

.products {
    /* flex: 1 1 auto; */
    
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    /* Debugging */
    /* background-color: blue; */
}

.product-box {
    flex: 1 1 auto;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Debugging */
    /* background-color: greenyellow; */
}

.product-box img {
    width: 100px;
    height: auto;
}

.customer-reviews {
    /* flex: 1 1 auto; */

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Debugging */
    background-color: #927c49;
}

.customer-reviews p {

}

.customer-review-content {
    padding: 0;
    /* margin: 16px; */
    max-width: 500px;
    
    display: flex;
    flex-direction: column;
}

.customer-review-title {
    text-align: center;
}

.reviewer {
    text-align: right;
}

.store-call-to-action {
    /* margin: 16px; */
    
    flex: 1 1 auto;
    

    display: flex;
    justify-content: center;
    align-items: center;

    /* Debugging */
    /* background-color: blueviolet; */
}

.call-to-action-emphasis {
    background-color: #727a66;
    width: 80vw;
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.call-to-action-text {
    flex: 2 1 auto;
}

.storefront-button {
    flex: 1 1 auto;
}

.footer {
    margin: 8px;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Debugging */
    /* background-color: lightpink; */
}